@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  color: white;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

header {
  margin-top: 40px;
  width: 100%;
  height: auto;
  background-color: cornflowerblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

header .Logo {
  width: 120px;
}
header ul {
  display: flex;
  align-items: center;
  text-decoration: none;
}

header li {
  font-size: 16px;
  margin: 4px;
}

body {
  background-color: gray;
}

h1 {
  text-align: center;
  font-size: small;
}

.container {
  width: 100%;
  padding: 1rem;
}

.container2 {
  width: 100%;
  padding: 1rem;
}

.Bob {
  padding-left: 3%;
}

ul {
  padding-bottom: 20px;
  margin-bottom: 10px;
  color: aliceblue;
}

#Balls2 > li {
  list-style-type: disc;
}

.foot {
  width: 100%;
  height: auto;
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  header ul {
    flex-direction: column;
    align-items: flex-start;
  }

  header li {
    margin: 10px 0;
  }
}
